/* why choose svg vs draw css - less js (performance), simple clean*/
/* carousel consideration - motion sickness */
/* browser support? */

body{
	font-family:"Helvetica Neue",Helvetica, Arial;
	margin:0;
	padding:0;

	background: url('../img/trapezoid-svg.svg') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*div {
	border: black 1px solid;
}*/


.container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

h1{
	color: #5800CC;
	font-size: 64px;
	margin-left: 60%;
	text-align: left;
}

h2{
	color: #FFFF00;
	font-size: 36px;
	margin: 25% 0% 5% 10%;
}

h3{
	color: #FFFFFF;
	font-size: 24px;
	margin-left: 10%;
}

.contacts {
	color: #FFFFFF;
	font-size: 1.75vw;
	font-size: 24px;
	margin-left: 10%;
	padding: 2px;
}




