/* why choose svg vs draw css - less js (performance), simple clean*/
/* carousel consideration - motion sickness */
/* browser support? */

body{
	margin:0;
	padding:0;
	font-family:"Helvetica Neue",Helvetica, Arial;

	background: url('../img/trapezoid-svg.svg') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div {
	border: black 1px solid;
}


.container {
	width: 100%;

}

h1{

text-align:left;
top: 25%;
font-size: 38px;
}


h3{
font-size: 24px;
}


h2{
font-family: Georgia;
color: #ffe400;
font-size: 24px;
margin-bottom: 20px;
}




