
body{
margin:0;
padding:0;
/*background:#000;*/
font-family:"Helvetica Neue",Helvetica, Arial;
}

div {
	border: black 1px solid;
}

.container {
	width: 100%;
}

h1{

text-align:left;
top: 25%;
font-size: 38px;
}


h3{
font-size: 24px;
}


h2{
font-family: Georgia;
color: #ffe400;
font-size: 24px;
margin-bottom: 20px;
}




